* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

html {
  font-size: 10px; }

body {
  font-family: "HelveticaNeueCyr";
  line-height: 1.3;
  font-weight: normal;
  overflow-x: hidden;
  color: #3e3e3e;
  position: relative;
  margin: 0; }

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  padding: 0; }

ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none; }

a {
  text-decoration: none; }

img {
  max-width: 100%;
  max-height: 100%; }

button {
  cursor: pointer; }

select,
input,
textarea {
  width: 100%;
  background: transparent;
  box-shadow: none;
  font-family: "HelveticaNeueCyr"; }

a,
button,
input,
textarea,
select {
  outline: none; }

a,
button {
  cursor: pointer; }

input::-webkit-input-placeholder {
  color: #000000; }

input:-ms-input-placeholder {
  color: #000000; }

input::-ms-input-placeholder {
  color: #000000; }

input::-moz-placeholder {
  color: #000000; }

input::placeholder {
  color: #000000; }

input:disabled {
  opacity: 0.6; }

body {
  background-color: #818181; }

.content {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 25px;
  padding-bottom: 75px;
  background-color: #fff; }

.container {
  width: 940px;
  margin: 0 auto; }

.title {
  margin-bottom: 20px;
  font-family: "Exo 2.0";
  font-size: 36px;
  font-weight: 500;
  text-align: center;
  color: #1d1813; }

.tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px; }
  .tabs button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 48px;
    border: none;
    padding: 7px 15px;
    background-color: #f5f3e8;
    font-size: 18px;
    color: #77716a;
    transition: all 0.3s; }
    .tabs button + button {
      margin-left: 10px; }
    .tabs button > img + img {
      display: none; }
    .tabs button.active, .tabs button:hover {
      background-color: #8fb52c;
      color: #fff; }
      .tabs button.active > img, .tabs button:hover > img {
        display: none; }
        .tabs button.active > img + img, .tabs button:hover > img + img {
          display: inline-block; }
    .tabs button span {
      display: block;
      width: 100%;
      height: 100%;
      line-height: 34px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain; }

.tabsContent {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: -45px;
  margin-right: -20px; }

.tabsContentItem {
  display: none;
  width: 300px;
  margin-top: 45px;
  margin-right: 20px; }
  .tabsContentItem.active {
    display: block; }
  .tabsContentItem img {
    width: 100%;
    height: 200px;
    margin-bottom: 7px; }

.brand {
  width: 72px;
  height: 24px;
  background-color: #8fb52c;
  margin-bottom: 8px;
  padding: 4px 13px; }

.productName {
  font-size: 15px;
  font-weight: 300;
  color: #3c2f20; }

.productLink {
  display: block;
  margin-bottom: 13px;
  font-family: "Exo 2.0";
  font-size: 30px;
  line-height: 32px;
  color: #1d1813;
  font-weight: 500;
  letter-spacing: 0.025em;
  text-transform: uppercase;
  transition: all 0.3s; }
  .productLink:hover {
    color: #5b84f0;
    text-decoration: underline;
    text-decoration-style: dotted; }
  .productLink span {
    display: block;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0;
    text-transform: lowercase; }

.description {
  font-size: 15px;
  line-height: 18px;
  color: #1d1813; }

@media (max-width: 1199px) {
  .content {
    width: 100%;
    padding-bottom: 45px; } }

@media (max-width: 991px) {
  .content {
    width: 100%; }
  .container {
    width: 768px;
    padding: 0 15px; }
  .tabsContent {
    margin-right: -15px; }
  .tabsContentItem {
    width: calc(50% - 15px);
    margin-right: 15px; }
    .tabsContentItem img {
      height: 240px; } }

@media (max-width: 767px) {
  .container {
    width: 576px; }
  .title {
    font-size: 32px; }
  .tabsContentItem img {
    height: 177px; } }

@media (max-width: 575px) {
  .container {
    width: 100%;
    padding: 0 4.5vw; }
  .title {
    font-size: 26px; }
  .tabs {
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: -10px; }
    .tabs button {
      margin-top: 10px;
      width: calc(50% - 5px); }
      .tabs button + button {
        margin-left: 0; }
  .tabsContent {
    margin-right: 0;
    margin-top: -35px; }
  .tabsContentItem {
    width: 100%;
    margin-right: 0;
    margin-top: 35px; }
    .tabsContentItem img {
      height: auto; }
  .brand {
    width: 22.5vw;
    height: 7.5vw;
    padding: 1.25vw 4vw; }
  .productLink {
    font-size: 26px;
    margin-bottom: 11px; }
    .productLink span {
      font-size: 18px;
      line-height: 18px; } }
