$color1: #fff;
$color2: #000;
$color3: #8fb52c;
$color4: #f5f3e8;

$textColor1: #1d1813;
$textColor2: #77716a;
$textColor3: #5b84f0;
$textColor4: #3c2f20;

$col1: 100% * 1 / 12;
$col2: 100% * 2 / 12;
$col3: 100% * 3 / 12;
$col4: 100% * 4 / 12;
$col5: 100% * 5 / 12;
$col6: 100% * 6 / 12;
$col7: 100% * 7 / 12;
$col8: 100% * 8 / 12;
$col9: 100% * 9 / 12;
$col10: 100% * 10 / 12;
$col11: 100% * 11 / 12;
$col12: 100% * 12 / 12;

$font1: 'HelveticaNeueCyr';
$font2: 'Exo 2.0';